<nav>
    <div *ngIf="lang == 'SV'" class="loggo" [routerLink]="''" >
        <app-clowns-loggo></app-clowns-loggo>      
    </div>
    <app-clowns-logo-eng 
        [routerLink]="''"
        *ngIf="lang != 'SV'" >
    </app-clowns-logo-eng>
    <div 
        *ngIf="!isAdminPage"
        class="lang-selection">
        <h3 [class]="openCloseBoolean ? 'small open' : 'small'" [ngClass]="lang == 'SV'? 'lang': ''" (click)="setLang('SV')">SV</h3>
        <h3 [class]="openCloseBoolean ? 'small open' : 'small'" [ngClass]="lang == 'ENG'? 'lang': ''"  (click)="setLang('ENG')" >ENG</h3>
        <h3 [class]="openCloseBoolean ? 'small open' : 'small'" [ngClass]="lang == 'AR'? 'lang': ''"  (click)="setLang('AR')">عربي</h3>
    </div>
    <div 
        *ngIf="isAdminPage"
        class="lang-selection">
    </div>

    
    <div class="loggin">
        <h3 
            *ngIf="!isAdminPage"
            class="large" [ngClass]="lang == 'SV'? 'lang': ''" (click)="setLang('SV')">SV</h3>
        <h3 
            *ngIf="!isAdminPage"
            class="large" [ngClass]="lang == 'ENG'? 'lang': ''"  (click)="setLang('ENG')" >ENG</h3>
        <h3 
            *ngIf="!isAdminPage"
            class="large" [ngClass]="lang == 'AR'? 'lang': ''"  (click)="setLang('AR')">عربي</h3>    

        <a *ngIf="examUser?.jwt?.length < 3 || !examUser" [routerLink]="'login'">
            <h2>
            Login  
            </h2>
        </a>
        
    </div>
    <span
        *ngIf="examUser?.jwt?.length > 3"
        class="logout" 
        (click)="openCloseMyPage()"
        [ngClass]="openMyPageBool ? 'red' : ''"
    >
        {{ openMyPageBool ? 'X' : examUser.name.split('')[0] }} 
    </span>
</nav>
