@import "../../scss/variables.scss";

h1, h2, h3, h4{
    color: $black;
}

nav{   
    font-family: Marguerite Grotesk;
    display: flex;
    justify-content: space-between ;
    color:$black;

    height: 3rem;
    
}

.glob{
    position: relative;
    z-index: 6;
    width: 1.5rem;
    margin-right: 1rem;
}

.loggo{
    position: relative;
    z-index: 3;
    min-width: 17rem;
    padding: 0.5rem;
    background-color: $white;
}

.loggin
{
    display: flex;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    transition: color .5s ease;
    

    h3{
        align-self: flex-end;
        margin-right: 0.5rem;
        transition: color .5s ease;
        cursor: pointer;

        &:hover{
        color:$yellow;
        }    
    }

    .lang{
            color:$yellow;
        }

    h2{
        &:hover{
            color:$yellow;
        }
    }   
}

.gotoadmin{
    cursor: pointer;
    
}

.lang-selection{
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .large {
      display: none;
    }

    nav{   
        justify-content: stretch ;        
    }

    .loggin
    {
        flex-grow: 4;
        justify-content: flex-end;

        a{
            justify-content: end;
        }
    }

    .lang-selection{
        
        position: relative;
        display: flex;
        width: 4rem;
        height: 100%;
        
        .small{
            position: absolute;
            z-index: 9;
            background-color: $white;
            width: 4rem;
            margin: 0;
            padding:0;
            height: 100%;
            transition: all .5s ease;

            &:hover{
                color:$yellow;
                cursor: pointer;
            }

            &.open{

                transition: all .5s ease;

                &:nth-child(2){
                    transform: translate(0, 2.1rem);
                }

                &:nth-child(3){
                    transform: translate(0, 4.2rem);
                }
            }

            

            

            
        }

        .lang{
            z-index: 10;
            color:$yellow;
        }

        

    }
  }