<div class="container">
    <div class="red_headline_wide">
        <h1>CLOWNS WITHOUT BORDERS</h1>
        <h1>SWEDEN</h1>
        <h2>online training</h2>
        <h3>For artists on mission</h3>
        <h3> For anyone working as a representative for Clowns without Borders</h3>
    </div>
    <div class="red-circle-box">
        <div class="red-circle">
            <a [routerLink]="'course'">
                <h3>
                Course material 
                </h3>
            </a>
        </div>
        <div [routerLink]="'exam'" class="red-circle">
            <h3>
               EXAM
            </h3>
        </div>
    </div>
</div>