@import "../../scss/variables.scss";

.container
{
    background-repeat:no-repeat; 
    background: linear-gradient(to left, $light-purple 30%, $grey 65%, $light-purple 10%, $grey 10%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    min-height: calc(100vh - 3rem);
}

.red_headline_wide{
    width: 100%;
    // padding: 1.5rem 4rem 1.5rem 0.5rem;
    text-align: center;
    background-color: transparent;
    h1,h2, h3{
        color:$red;
    }
    
}


.red-circle-box
{
    margin: auto;
    display: flex;
    justify-content: space-between ;
    width:50%;
}

.red-circle{

    background-color: $red;
    color: $white;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 15rem;
    cursor: pointer;

    &:nth-child(2)
    {
        background-color: $green;
    }

    
}

@media only screen and (max-width: 800px) {

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .red_headline_wide {
        margin-bottom: .5rem;
        padding-bottom: 0;
    }

    .red-circle-box{
        width:100%;
        flex-direction: column;
        align-items: center;
        h3 {
            font-size: 1.5rem;
        }
    }

    .red-circle{
        margin-bottom: .5rem;
    
        &:nth-child(2)
        {
            background-color: $green;
        }
    
        
    }

    
}
