@import "../../scss/variables.scss";

.container
{
    background-color: $purple;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    min-height: calc(100vh - 3rem);
}

.red-circle-box
{
    margin: auto;
    display: flex;
    justify-content: space-between ;
    width:50%;
}

.red-circle{

    background-color: $red;
    color: $white;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 10rem;

    &:nth-child(2n)
    {
        background-color: $green;
    }

    
}

@media only screen and (max-width: 800px) {

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .red_headline_wide{
        width: 100%;
        border-top-right-radius: 20rem;
        border-bottom-right-radius: 20rem;
        padding: 1.5rem 4rem 1.5rem 0.5rem;
        text-align: left;
    }

    .red-circle-box{
        width:95%;
    }
}
