<div [lang]="lang.toLowerCase" class="container">
    <div class="red_headline_wide">
        <h1>{{ setLang(lang).firstHeadline }}</h1>
        <h1>{{ setLang(lang).country }}</h1>
        <h2>{{ setLang(lang).online }}</h2>
        <h3> {{ setLang(lang).Whom }} </h3>
    </div>
    <div class="red-circle-box">
        <div class="red-circle">
            <a [routerLink]="'course'">
                <h3>
                    {{ setLang(lang).courseMaterial }}  
                </h3>
            </a>
        </div>
        <div [routerLink]="'exam'" class="red-circle">
            <h3>
                {{ setLang(lang).exam }}  
            </h3>
        </div>
    </div>
</div>