<div 
    class="container"
    [class]="lang"
    >
    <h1>        
        {{wellDone.headline}}
    </h1>
    <div class="text-placing">
        <p 
            *ngFor="let text of wellDone.text"
        >
            {{text}}
        </p>
    </div>
    <div class="red-circle-box">
        <div class="red-circle">
            <a [routerLink]="'/course/material'">
                <h3>
                    {{ wellDone.courseMaterial }}  
                </h3>
            </a>
        </div>
        <div [routerLink]="'/exam'" class="red-circle">
            <h3>
                {{ wellDone.exam }}  
            </h3>
        </div>
    </div>
</div>
