@import "../../scss/variables.scss";


.container
{
    min-height: calc(100vh - 3rem);
    width: 100%;
    background-repeat:no-repeat; 
    background: linear-gradient(to left, $light-green 30%, $grey 65%, $light-green 10%, $grey 10%);
    @include column-align-center();

    p{
        color:$red;
        font-size: 1.5rem;
    }
}
