@import "../../scss/variables.scss";

.container
{
    position: relative;
    z-index: 1;
    padding-top: 3rem;
    min-height: calc(100vh - 3rem);
    width: 100%;
    color: $white; 
    background: $purple;
    @include column-align-center();

    &.AR{
        direction: rtl;
    }
}

.heading{
    width: 100%;
    padding:2rem;
    @include column-align-center();


    &.right{
        margin-top:1rem;
        background-color: $red;
        border-top-right-radius: 15rem;
        border-bottom-right-radius: 15rem;
    
        ul{
            margin-left: 2rem;

        }
        
        li{
            margin: 0.5rem;
            font-size: 1.2rem;
        }
        
    }
}

.btn-start
{
    // width: 100%;
    margin:2rem 0 1rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 5px; 
    background-color: $red;

    font-weight: bold;
    font-size: 1.2rem;
    color: $white;
    cursor: pointer;
    transition: 0.5s ease-in;

    &:hover{
        border: solid $yellow 2px;
        
    }
}

@media only screen and (max-width: 600px) {

    h1{
        font-size: 2rem;
    }

    .heading{
        align-items: flex-start;

        &.right{
            margin-top:1rem;
        
            ul{
                margin-left: 0rem;
                &.AR{
                    margin-right: 3rem;
                }
    
            }
            
            li{
                margin: 0rem;
            }
            
        }
    
    }

}

