<div class="container" [class]="lang">
                
    <div class="heading right"
         [class]="lang"> 
        <h1 *ngIf="lang != 'AR'"> {{ resources.headline }} </h1>
        <ul [class]="lang">
            <h1 *ngIf="lang == 'AR'" [class]="lang"> {{ resources.headline }} </h1>
            <li *ngFor="let point of resources.points" >
                {{ point }}
            </li>
        </ul>
    </div>
    <!-- <a>    -->
        <button 
            (click)="downloadPages()"
            class="btn-start"
            >
                {{  resources.links.linkText }}
        </button>
    <!-- </a> -->
</div>