<div 
    class="container"
    >
     <h1>Admin page</h1>
     <ul>
         <li >
             <a routerLink="./users" ><span class="strong"> Edit users </span><span class="headline-text"> </span>
            </a>
        </li>
        <li 
            (click)="getExam()"
        >
            <a routerLink="./question/1"><span class="strong"> Edit questions </span><span class="headline-text"> </span>
           </a>
        </li>
        <!-- <li >
            <a (click)="updateDBEng()" ><span class="strong"> Rest questions English</span><span class="headline-text"> </span>
           </a>
        </li>
        <li >
            <a (click)="updateDBSv()" ><span class="strong"> Rest questions Swedish</span><span class="headline-text"> </span>
           </a>
        </li>
        <li >
            <a (click)="updateDBArb()" ><span class="strong"> Rest questions Arabic</span><span class="headline-text"> </span>
           </a>
        </li> -->
     </ul>
</div>
