<div 
    class="container"
    >
     <h1>{{ chapters.headline }}</h1>
     <ul>
         <li *ngFor="let chapter of chapters.chapters; let i = index">
             <a [routerLink]="['.', chapter.toLowerCase() , i+1 ]"><span class="strong">SECTION {{ i + 1 }}</span><span class="headline-text">{{ chapter }}</span>
            </a>
        </li>
     </ul>
    
    <!--    <div class="point">
            <ul>
                <li>Code of conduct</li>
                <li> Risk analysis</li> 
                <li> Action Plan in case of suspicious crime </li>
                <li> Communication policy</li>
                <li> Child Protection policy</li>
                <li> Whistleblower policy</li>
                <li> Diversity policy?</li>
            </ul>
        </div>

    <div class="courseinfo">
        <app-info-box></app-info-box>
    </div> -->
</div>
 <app-film
    *ngIf="url=='introduction'"
>
</app-film>
