@import "../../scss/variables.scss";

.container
{
    padding-top: 3rem;
    min-height: calc(100vh - 3rem);
    width: 100%;
    color: $yellow; 
    background: $green;
    @include column-align-center();

    

    ul{
        margin-top: 2rem;
        list-style: none; 

        &.AR{               
            direction: rtl;
        }       

        li{
           
            margin-top: 2rem;
            font-size: 1.4rem;
            
            
            

            a:hover > .strong, a:hover > .headline-text{
                color: $white;
                transition: .5s color;
            }
            
        }

        .headline-text, .strong{
            color: $yellow;
            
            
        }

        .strong{
            font-weight: bold;
            padding-right: 2rem;

            &.AR{
                padding-left: 2rem;
            }
        }
    }
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: flex-end;
    // h1{
    //     flex:1;
    //     color: $red;
    //     text-align: center;
    // }

    // .point{
    //     flex:1;
    //      align-self: center;
    //      justify-self: start;

    // }

    // p{
    //     color:$white;
    //     font-size: 1.5rem;
    // }

    // .point{
    //     margin: 2rem;
    //     color:$red;
    //     ul{
    //         list-style-type: circle;
            
    //         li{
    //             line-height: 1.5;
    //             white-space: nowrap;
    //         }
    //     }
    // }

    // .courseinfo{
    //     flex:1;
    //     border: solid rgb(209, 49, 49) 1px;
    //     flex-grow: 0;
    //     align-self: end;
    //     display: flex;
    //     // flex-direction: column;
    //     // justify-content: flex-end;
    //      align-items: flex-end;
    //     width:50%
    // }
}

// app-info-box{
    //width: ;
    //border: solid black 1px;
    // align-self: end;
    // justify-self: start;
// }
h1{
    color: $yellow;
}