@import "../../scss/variables.scss";

.container
{
    padding-top: 3rem;
    min-height: calc(100vh - 3rem);
    width: 100%;
    color: $white; 
    background: $green;
    @include column-align-center();

    h1{
        color: $white;
    }

    ul{
        margin-top: 2rem;
        margin-left: 1rem;
        list-style: none; 

        &.AR{               
            direction: rtl;
        }       

        li{
           
            margin-top: 2rem;
            font-size: 1.4rem;
            
            
            

            a:hover > .strong, a:hover > .headline-text{
                color: $yellow;
                transition: .5s color;
            }
            
        }

        .headline-text, .strong{
            color: $white;
            
            
        }

        .strong{
            font-weight: bold;
            padding-right: 2rem;

            &.AR{
                padding-left: 2rem;
            }
        }
    }
}

.smallScreen{
    display: none;
}


@media only screen and (max-width: 600px) {

    .container
    {
        h1{
            font-size: 2rem;
        }

        h2{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        ul{

            li{
                font-size: 1.2rem;

                .headline-text{
                    display: inline-block;
                }
            }
        }
    }

    .smallScreen{
        display: block;
    }

}