<div 
    class="container"
    [class]="lang"
    >
    <div class="headlinesection">
        <h1 class="headline-marg"
            [class]="flipingCardsCopy?.chapter"
        >
            {{ flipingCardsCopy.headline }} 
        </h1>
        <h3
            [class]="flipingCardsCopy?.chapter"
        >
            {{ flipingCardsCopy.subHeading }}
        </h3>
        <p
            [class]="flipingCardsCopy?.chapter"
        >
            {{flipingCardsCopy.paragraf}}
        </p>
        <p
            *ngFor="let textHtml of flipingCardsCopy.sectionTextHtml"
            [class]="flipingCardsCopy?.chapter"
            [innerHtml]="textHtml"
        >
        </p>
    </div>
    <section class="cardsbox">
        <div 
            *ngFor="let card of flipingCardsCopy.cards; let i = index;"
            class="flip-card"
            [class]="card.turned ? 'turned': ''"
            (click)="turnCard(i ,card.turned)"
            >
            <div 
                class="flip-card-inner"
                [class]="setCircleSize(card.cardSize, card?.correct)"
                >
              <div 
                    class="flip-card-front"
                    [class]="setCircleSize(card.cardSize, card?.correct)"
                    >
                <h2>
                    {{ card.frontQuestion }}
                </h2>
              </div>
              <div 
                    class="flip-card-back"
                    [class]="setCircleSize(card.cardSize, card?.correct)"
                    >
            
                <span
                    *ngFor="let expl of card.backexplenation"
                >
                    {{ expl }}
                    <br *ngIf="card?.correct" >        
                </span>
                <p *ngIf="card?.chart" [innerHTML]="'<br> <p>'+ card?.chart  +'</p>'"></p>
              </div>
            </div>
          </div>
          
        <!-- <div 
            *ngFor="let card of flipingCardsCopy.cards; let i = index;"
            class="card-container"
            [class]="card.turned ? 'turned': ''"
            (click)="turnCard(i ,card.turned)"
            >
            <div 
                class="card"
                [class]="setCircleSize(card.cardSize, card?.correct)"
                >
                <figure 
                    class="front"
                    [class]="setCircleSize(card.cardSize, card?.correct)"
                    >
                    <h2>
                        {{ card.frontQuestion }}
                    </h2>
                </figure>
                <figure 
                    class="back"
                    [class]="setCircleSize(card.cardSize, card?.correct)"
                    
                    >
                    <span
                        *ngFor="let expl of card.backexplenation"
                    >
                        {{ expl }}
                        <br *ngIf="card?.correct" > 
                       
                    </span>
                
                     <p *ngIf="card?.chart" [innerHTML]="'<br> <p>'+ card?.chart  +'</p>'"></p> 
                </figure>
            </div>
        </div> -->
    </section>
</div>
