<div class="container">
    <div class="heading">
        <h2>{{ dosAndDonts.headline }}</h2>
        <p>{{ dosAndDonts.headlineText }} </p>
    </div>
    
    <div class="do-dont">
        <div class="do">
            <p>{{dosAndDonts.doHeadline}}</p>
            <p *ngFor="let do of dosAndDonts.dosText"> {{do}} </p>
            <ul>
                <li *ngFor="let do of dosAndDonts.dos">{{ do }}</li>
            </ul>
        </div>
        <div class="dont">
            <p>{{dosAndDonts.dontHeadline}}</p>
            <p *ngFor="let dont of dosAndDonts.dontsText"> {{dont}} </p>
            <ul>
                <li *ngFor="let dont of dosAndDonts.donts">{{ dont }}</li>
            </ul>
        </div>
    </div>
</div>
