@font-face {
    font-family: "DM Sans";
    src: local("DM Sans"),
     url("../../assets/fonts/DMSans/DMSans-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "DM Sans italic";
    src: local("DM Sans italic"),
     url("../../assets/fonts/DMSans/DMSans-RegularItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Marguerite Grotesk";
    src: local("Marguerite Grotesk"),
     url("../../assets/fonts/Marguerite/MargueriteGrotesk-Regular.otf") format("opentype");
  }

