//Base colors
  $red: #FF5068;
  $yellow: #FFD400;
  $pink: #FF59BD;
  $white: #FFFFFF;
  $black: #000000;
  $beige: #FAF4EF;
  $grey: #ECEDEC;
  $green: #3DB96D;
  $purple: #B8BCFE;
  $light-yellow: #FFF7E0;
  $light-pink: #FFEDF9;
  $light-green: #CFE7CD;
  $light-purple: #EBEBFE;

@mixin column-just-center()
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin column-align-center()
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin column-center()
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin circle($radius){
  width: $radius*2;
  height: $radius*2;
  border-radius: $radius;
  &::before{
    content: '';
    height: 100%;
    width: 50%;
    float: left;
    shape-outside: polygon(
      0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%,
      5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%
    );
  }
  > span::before{
    content: '';
    height: 100%;
    width: 50%;
    float: right;
    shape-outside: polygon(
      100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%,
      95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%
    );
  }
}

[class*='red_']{
    background-color: $red;
}



[class*='purple_']{
  background-color: $purple;
}

[class*='green_']{
  background-color: $green;
}

[class*='yellow_']{
  background-color: $yellow;
}

[class*='_circle']{
  border-radius: 50%;
  text-align: center;
}

[class*='_headline']{
  border-bottom-right-radius: 10rem;
  border-top-right-radius: 10rem;
  text-align: center;
  margin: 2rem 2rem 2rem 0rem;
  width: 70%;

  padding: 3rem;
}

[class*='_wide']{
  width: 90%;
}