@import '../../scss/variables.scss';

.container
{
    position: relative;
    z-index: -1;
    padding: 3rem 1rem 1rem 1rem; 
    min-height: calc(100vh - 3rem);
    width: 100%;
    color: $red; 
    background: linear-gradient(to left, $light-green 42%, $light-pink 67%, $light-green 0%, $light-pink 0%);
    display: flex;

    &.CODE{
        color: $black; 
        background: $light-purple;
    }
    

    .text{
        width: 50%;
        &.AR{
            direction: rtl;
        }

        .bold{
            font-weight: bolder;
        }
        
    }

    .img{
        width: 50%;
        height: 75vh;
        position: relative;
        align-self: center;
        background: //linear-gradient(rgba($light-green,.0), rgba($light-green,0.8)),
        url("../../../assets/img/miniature_grekland_henrik_kindgren.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        .red_circle{
            position: absolute;
            bottom: -3rem;
            left: calc(0vw - 2rem);
            right: 0rem;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 3rem;
            min-height: 25rem;
            min-width: 25rem;
            background-color: rgba($green, .8);
            color: $white;
            line-height: 1.7rem;
            font-size: 1.5rem;
            letter-spacing: 0.4 rem;

            &.AR{
                direction: rtl;
            }

            &.bigger{
                min-height: 35rem;
                min-width: 35rem;
            }
            
        }
    }

    h2, h3{
        margin-bottom: 1rem;
        color: $red; 
        margin-left: 1rem;
        margin-right: 1rem;

        &.CODE{
            color: $black; 
        }
    
    }

    p{
        // color:$white;
        font-size: 1.4rem;    
        margin: 0rem 2rem 2rem 1rem;
        
    }

    .points{
        margin-bottom: 0.5rem;
        padding: 0 1rem 0 1rem;

        &:last-child{
            margin-bottom: 2rem;
          }
    }
}

.heading{
    
    width:100%;
}

.do-dont{

    width:100%;
    display: flex;
    justify-content: space-around;
    
}

.do, .dont{

    padding:1rem;
    font-size: 1.5rem;
    
    li{
        margin: 1rem;
    }
    
}
