@import '../../scss/variables.scss';

.container
{
    position: relative;
    z-index: -1;
    padding: 3rem 1rem 1rem 1rem; 
    min-height: calc(100vh - 3rem);
    width: 100%;
    color: $red; 
    background: linear-gradient(to left, $light-green 42%, $light-pink 67%, $light-green 0%, $light-pink 0%);
    display: flex;

    &.CODE{
        color: $black; 
        background: $light-purple;
    }
    

    .text{
        width: 50%;
        &.AR{
            direction: rtl;
        }

        .bold{
            font-weight: bolder;
        }
        
    }

    .img{
        width: 50%;
        height: 75vh;
        position: relative;
        align-self: start;
        // background: url("../../../assets/img/two-boys-watching.jpg");
        &.two-boys{
            background: url("../../../assets/img/two-boys-watching.jpg");
            background-repeat: no-repeat;
            background-size: cover;
         }
        &.clown-with-children{
            background: url("../../../assets/img/clown-with-children.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        } 
        &.two-hands{
            background: url("../../../assets/img/two-hands.jpg") center center no-repeat;
            background-size: 100%;
        } 
        &.laughing-children{
            background: url("../../../assets/img/laughing-children.jpg") no-repeat;
            background-size: cover;
        } 
        &.crowd{
            background: url("../../../assets/img/crowd.png") no-repeat;
            background-size: cover;
        }
        &.balancing-ball{           
            background: url("../../../assets/img/balancing-ball.jpg") no-repeat;
            background-size: cover;
        } 
        &.action-plan{
            background: url("../../../assets/img/action-plan.png") center center no-repeat;
            background-size: cover;
        }
        &.selfie{
            background: url("../../../assets/img/selfie.jpg") center center no-repeat;
            background-size: cover;
        }
        &.the-jump{
            background: url("../../../assets/img/the-jump.jpg") center center no-repeat;
            background-size: cover;
        }    
      
       

        .red_circle{
            position: absolute;
            bottom: -3rem;
            left: calc(0vw - 2rem);
            right: 0rem;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 3rem;
            height: 25rem;
            width: 25rem;
            background-color: rgba($green, .8);
            color: $white;
            line-height: 1.7rem;
            font-size: 1.5rem;
            letter-spacing: 0.4 rem;

            &.AR{
                direction: rtl;
            }

            &.bigger{
                min-height: 35rem;
                min-width: 35rem;
            }
            
        }
    }

    h2, h3{
        margin-bottom: 1rem;
        color: $red; 
        margin-left: 1rem;
        margin-right: 1rem;

        &.CODE{
            color: $black; 
        }
    
    }

    p{
        // color:$white;
        font-size: 1.2rem;    
        margin: 0rem 2rem 2rem 1rem;
        
    }

    .points{
        margin-bottom: 0.5rem;
        padding: 0 1rem 0 1rem;

        &:last-child{
            margin-bottom: 2rem;
          }
    }
}

.heading{
    
    width:100%;
}

.do-dont{

    width:100%;
    display: flex;
    justify-content: space-around;
    
}

.do, .dont{

    padding:1rem;
    font-size: 1.2rem;
    
    li{
        margin: 1rem;
    }
    
}

@media only screen and (max-width: 800px) {

    .container
    {
        flex-direction: column;

        .text{
            width: 100%;    
        }

        .img{
            width: 100%;

            .red_circle{

                min-height: 20rem;
                min-width: 20rem;
    
                
                top: -2rem;
                right: -1rem;
                left: initial;
                bottom: initial;

                line-height: 1.4rem;
                font-size: 1rem;
                letter-spacing: 0.3 rem;

                &.bigger{
                    min-height: 24rem;
                    min-width: 24rem;
                    top: -2rem;
                    right: 0rem;
                    left: -3.5rem;
                    padding: 1rem 2rem 0 3rem;
                }
    
            }

            &.none{
                height: 0vh;
            }
            &.two-hands{
                background: url("../../../assets/img/two-hands.jpg") ;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &.balancing-ball{           
                background: url("../../../assets/img/balancing-ball-small.png") no-repeat;
                background-size: cover;
            }     
                
        }
    }


}
