@import "../../scss/variables.scss";

.container
{
    background-color: $purple;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    min-height: calc(100vh - 3rem);

    &.AR{
        direction: rtl;
    }
}

.green_headline.AR{
    border-bottom-left-radius: 10rem;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
    text-align: center;
    margin: 2rem 0rem 2rem 0rem;
    width: 70%;
      
    padding: 3rem;

}

.alternative{
    color: $red;
    margin: 2rem 2rem 2rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    transition: color .3s, font-size .3s;

    span{
        margin-right: 5px;
    }

    &:hover, &.selected{
        color: $light-yellow;
        font-size: 1.5rem;
        
    }
}

.btn-box{
    direction: ltr;
    align-self: flex-end;
    width: 50%;
    margin:0rem 10% 1rem 10rem;
}

.btn-update{

    
    width: 100%;
    
    padding: 0.5rem;
    border: none;
    border-radius: 5px; 
    background-color: $green;

    font-weight: bold;
    font-size: 1.2rem;
    color: $white;

    transition: border .5s ease-in-out;

    &.nav{
        width: 46%;
        margin: 2px 2% 2px 2%;
    }

    &:hover{
        border: solid 2px $white;
    }
}

@media only screen and (max-width: 800px) {

    .green_headline{

        width: 100%;

        &.AR{
            width: 100%; 
        }
    }
.btn-update{
    margin:0rem 10% 1rem 40%;

}  

}
