
<div class="container">
    <div class="green_headline">
        <h2>{{ question?.questionText }}</h2>
        <!-- <h2>1. If you suspect a case of violence against children, you should?</h2> -->
    </div>
    <p 
        *ngFor="let answre of question?.answres; let i = index;"
        [ngClass]="question.selectedAnswre == i? 'selected': ''"
        (click)="select(i)"
        class="alternative">
        
        <span>{{ i + 1 }}. </span> {{ answre }}
        <!-- A. 	Discuss with a colleague on what is the next step to take -->
    </p>
    <button (click)="submitExam()" class="btn-update">Submit exam</button>
</div>

    
