@import '../../scss/variables.scss';
@import '../../scss/typography.scss';

.container
{
    position: relative;
    z-index: 1;
    padding: 3rem 1rem 1rem 1rem; 
    min-height: calc(100vh - 3rem);
    width: 100%;
    color: $red; 
    background: $light-purple;

    &.AR{
        direction: rtl;
    }

    h1, h3, p, label{
        color: $black;
    }

    section, h1{
        margin: 2rem;
    }

    section{
        margin-top: 5rem;
    }

    h3{
        margin-bottom: 1rem;
    }

    input[type="checkbox"] {
        appearance: checkbox;
        background-color: $white;
        margin:  0;
        color: $white;
        width: 1.15rem;
        height: 1.15rem;
        vertical-align: text-top;
        border: 0.1rem solid black;
        border-radius: 2px;
        cursor: pointer;

        &:checked {
            filter: hue-rotate(240deg)
          } 
    }
}