@import "../../../../scss/variables.scss";

.user-detail-box{
    width: 100%;
    
    h2{
        color: $green;
    }
}

.user-detail{

    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 1rem;

}

.input{

    margin-top: 1rem;

    display:flex;
    flex-direction: column;

    border:none;

    input::-webkit-input-placeholder {
        color: $white;
        background-color: $green;
        background: $green;
    }
}

    input[type=text], input[type=email], input[type=password]{
        border: none;
        outline: none;
        height: 2rem;
        font-size: 1.2rem;
        color: $white;
        background-color: $green;
        border-bottom: solid 1px $white;

    &:focus{ 
        border-bottom: solid 3px $white;
        color:$white;
    }
}


.btn-sign-in
{
    width: 100%;
    margin:2rem 0 1rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 5px; 
    background-color: $green;

    font-weight: bold;
    font-size: 1.2rem;
    color: $white;
    transition: border-width 0.2s linear;

    &:hover{
        border: solid 3px white;
    }
}


.sendpassword{

    padding:10rem 2rem 1rem 2rem;
    max-width: 30rem;
    min-height: calc(100vh - 5rem) ;

    background-color: $green;
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;

    .btn-sign-in
    {
        width: 100%;
        margin:2rem 0 1rem 0;
        padding: 0.5rem;
        border: none;
        border-radius: 5px; 
        background-color: $yellow;

        font-weight: bold;
        font-size: 1.2rem;
        color: $green;
    }

    .input
    {
    margin-top: 1rem;

    display:flex;
    flex-direction: column;

    border:none;
    border-bottom: solid 2px $yellow;

    input::-webkit-input-placeholder {
        color: $yellow;
        background-color: $green;
        background: $green;
    }

    input[type=text], input[type=email], input[type=password]{
        border: none;
        outline: none;
        height: 2rem;
        font-size: 1.2rem;
        color: $yellow;
        background-color: $green;

        &:focus{ 
            border-bottom: solid 1px $yellow;
            color:$yellow;
        }
    

    }
    
}

.forgot-password
    {
        // @include column-align-center;
        a{
            cursor: pointer; 
            font-size: 1rem;
            letter-spacing: 1px;
            padding: 0  0 1rem 0;
            font-weight: bold;
            color: $yellow;
            transition: color 1s;

            &:hover{
                color: $light-green;
            }
        }
    }

}