.test-nav{
    
    position: fixed;
    bottom: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;

    
}

.selected{
    border: 2px solid white;
}

.red_circle{
    &:hover, .selected{
        border: 2px solid white;
    }


}