<div class="questionbox">
    <div class="nav top">
        <p 
            [ngClass]="{'dont-show' : showQuestionBack()}"
            (click)="previousQuestion()">
            <
        </p>
        <p 
            [ngClass]="{'dont-show' : showQuestionForward()}"
            (click)="nextQuestion()">></p>
    </div>
    <div 
        *ngFor="let question of questions;let i = index;"
        class="border">
        
    </div>
        <app-quiz
            [question]="questions[showQuestionIndex - 1]" 
            (answerEmit) = answeredQuestion($event)
        >
        </app-quiz>
    <nav class="test-nav">
        <div
            *ngFor="let question of questions;let i = index;" 
            (click)="showQuestion(i+1)"
            class="red_circle small "
            [ngClass]="selectedClass(i+1, questions[i])"
            >
                {{ i +1 }}
        </div>
    </nav>
</div>