<div class="container">
    <section class="sendpassword">
        <h2>Login</h2>
        <form [formGroup]="loginForm">
            <div class="input text">
                <label for="Email"></label>
                <input id="Email" name="Email" type="text" formControlName="Email" placeholder="Email" autocomplete="off" >
            </div>
            <div class="input password">
                <label for="password"></label>
                <input id="password" name="password" type="password" formControlName="password" placeholder="Password">
            </div>
        </form>
       <app-loader *ngIf="loading" ></app-loader>
       <div *ngIf="showError" class="error">Email or password is not correct</div>
        <button (click)="login()" class="btn-sign-in">send</button>
        <div class="forgot-password">
                <a [routerLink]="['/register']" >Not registered user? Sign up!</a>
            </div>
    </section>
</div>