@import "../../../../scss/variables.scss";

.container
{
    min-height: calc(100vh - 3rem);
    width: 100%;
    background-repeat:no-repeat; 
    background: linear-gradient(to left, $light-green 49%, $light-pink 50%, $light-green 0%, $light-pink 0%);
    
    display: flex;
    flex-direction: column;
   
    

    p{
        color:$white;
        font-size: 1.5rem;
    }
}

  table {
    border-collapse: collapse;
    width: 50%;


    tr:nth-child(n + 2){
        &:hover{
            background-color: $yellow;
        }

        th, td {
            padding: 0.25rem;
            text-align: left;
            border-left: 2px solid $green;
    
        }
    }

    tr:nth-child(-n + 1){
        padding: 0.5rem;
        background-color: $green;
    }
  }