@import "../../../../scss/variables.scss";

.container
{
    background-color: $purple;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    min-height: calc(100vh - 3rem);

    &.AR{
        direction: rtl;
    }
}

form{
    width: 90%;
}
.green_headline{
    width:100%;
    &.AR{
        border-bottom-left-radius: 10rem;
        border-top-left-radius: 10rem;
        border-bottom-right-radius: 0rem;
        border-top-right-radius: 0rem;
        text-align: center;
        margin: 2rem 0rem 2rem 0rem;
        width: 70%;
      
        padding: 3rem;
    }
    .answres{
        input[type=text], input[type=placeholder] {
            background-color: $green;
        }
        input::-webkit-input-placeholder {
            color: $light-green;
            background-color: $green;
            background: $green;
            
            
        }
    }
}

.answres{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem;

    margin-top: 1rem;
    
    border:none;
    //border-bottom: solid 2px $light-green;

    &.no-border{
        border-bottom: solid 2px transparent;
    }
    

    input::-webkit-input-placeholder {
        color: $light-green;
        background-color: $red;
        background: $red;
        
        
    }

    input[type="radio"] {
        appearance: none;
        background-color: $white;
        margin: 0;
        color: $white;
        width: 1.15rem;
        height: 1.15rem;
        border: 0.3rem solid currentColor;
        border-radius: 50%;

        &:checked {
            background-color: $green;
          } 
      }

      select{
          width:30%;
          border: none;
          border-radius: .5rem;
          font-size: 1.3rem;
          padding: 3px;
          height: 2rem;

          &:focus{
              border:none;
              outline: none;;
          }
      }

    input[type=text], input[type=placeholder] {
        border: none;
        border-bottom: solid 2px $light-green;
        margin-bottom: .5rem;
        outline: none;
        height: 2rem;
        font-size: 1.2rem;
        color:$black;
        background-color: $purple;
        width: 100%;

        &:focus{
            border: solid 2px $light-green;
            width: 100%;
            height: 3rem;
            color:$black;
            
        }
    }   
}


.alternative{
    color: $red;
    margin: 2rem 2rem 2rem 15rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    transition: color .3s, font-size .3s;

    span{
        margin-right: 5px;
    }

    &:hover, &.selected{
        color: $light-yellow;
        font-size: 1.5rem;
        
    }
}

.btn-update{
    align-self: flex-end;
    width: 50%;
    margin:0rem 10% 1rem 10rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px; 
    background-color: $green;

    font-weight: bold;
    font-size: 1.2rem;
    color: $white;

    transition: border .5s ease-in-out;

    &:hover{
        border: solid 2px $white;
    }
}

