@import '../../scss/variables.scss';

.section{
    position: relative;
}

.nav{
    position: absolute;
    left: 1rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    color: darken( $white, 1);
    z-index: 2;

    p{
        font-size: 2.2rem;
        text-shadow: -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444, 1px 1px 0 #444;
        font-weight: bolder;
        cursor: pointer;        
    }

    .dont-show{
            color:transparent;
            cursor: none;
            transform: scale(0);
        }

    &.top{
        top: 1rem;
        
    }

    &.bottom{
        bottom: 1rem;
    }
}

.menu{
    position: absolute;
    z-index: 4;
    left:47%;
    background-color: $yellow;
    padding:.2rem 1.2rem 0.2rem 1.2rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    cursor: pointer;
    color:white;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 0px solid $white;
    text-shadow: -1px -1px 0 #999, 1px -1px 0 #999, -1px 1px 0 #999, 1px 1px 0 #999;
    transition: border .5s;

    &:hover{
        border-bottom: 3px solid $white;
    }
}