<div class="section">

    <div class="nav top">
        <p (click)="previousPage()"><</p>
        <p (click)="nextPage()">></p>
    </div>
    <div class="nav bottom">
        <p (click)="previousPage()"><</p>
        <p (click)="nextPage()">></p>
    </div>
    <!--Introduction-->
    <app-film
        *ngIf="page == '1' && url == 'introduction'"
    ></app-film>
    <app-text-photo
        *ngIf="page == '2' && url == 'introduction'"
        [photoText]='page2'
    >
    </app-text-photo>
    <!--Purpose duration-->
    <app-double-cug
            *ngIf="page == '3' && url == 'introduction'"
    ></app-double-cug>

    <app-resources
        *ngIf="page == '4' && url == 'introduction'"
        >
    </app-resources>
    
    
    
    <!-- <app-dos-and-donts
        *ngIf="page == '4' && url == 'introduction'"
        [dosAndDonts] = 'page4'
    >
    </app-dos-and-donts> -->

    <!--Page 2-->
    <app-dos-and-donts
        *ngIf="page == '1' && url == 'working with children'"
        [dosAndDonts] = 'page4'
    >
    </app-dos-and-donts>
    
    
</div>