<div class="container-overlay" 
    [class]="openOverLay ? 'open ' + lang : lang"
    [lang]="lang == 'AR' ? 'ar' : 'eng'"
    >
    <div *ngIf="correctResponses<9" class="red_circle big result">
        <h3>{{numberOfQuestionsText}} {{ numberOfQuestions }}</h3>
        <h3>{{correctResponsesText}} {{ correctResponses }}</h3> 
    </div>
    <div *ngIf="correctResponses>=9" class="green_circle big result">
        <h3>{{numberOfQuestionsText}} {{ numberOfQuestions }}</h3>
        <h3>{{correctResponsesText}} {{ correctResponses }}</h3> 
    <br/>
        <h3>{{congratulationText}}</h3>
    </div>
    <div>
        
    </div>
    <ul>
        <li *ngFor="let question of questionsCopy">
            <div *ngIf="translateCorrectresponse(question.correctResponse) == question.selectedAnswre" class="green_circle small">
                {{ question.questionNumber }}
            </div>
            <div *ngIf="translateCorrectresponse(question.correctResponse) != question.selectedAnswre" class="red_circle small">
                {{ question.questionNumber }}
            </div>
            <h3 *ngIf="question?.answres[question.selectedAnswre]"> {{ question.answres[question.selectedAnswre] }}  </h3>
            <h3 *ngIf="!question?.answres[question.selectedAnswre]" class="_red" > {{ notAnswered }} </h3>
        </li>
    </ul>
    <div class="btn-box">
        <button 
            *ngIf="correctResponses<9" 
            (click)="closeOverlay(false)" 
            class="btn-update left"
            href="../../"
            >{{ buttonTryAgainText }}</button>
        <button 
            (click)="closeOverlay(true)"
            class="btn-update right">{{ this.buttonText }}</button>
    </div>
</div>
