<div class="container">
  <section [class]="'showRegister'" class="sendpassword">

        <h2>Register an account </h2>
        <h3>To take the exam</h3>
        <form [formGroup]="registerForm" >
            <div class="input text">
                
                <input id="name" name="name" type="text" formControlName="name" placeholder="Name" autocomplete="off">
            </div>
            <div class="input text">
                
                <input id="country" name="country" type="text" formControlName="country" placeholder="Country" autocomplete="off">
            </div>
            <div class="input text">
                
                <input id="email" name="email" type="text" formControlName="email" placeholder="E-mail" >
            </div>
            <div class="input password">
                
                <input id="password" name="password" type="password" formControlName="password" placeholder="Password">
            </div>
            <div class="input password">
                
                <input id="repassword" name="repassword" type="password" formControlName="rePassword" placeholder="Confirm password">
            </div>
        </form>
        <app-loader *ngIf="loading" ></app-loader>
        <button (click)="createUser()" class="btn-sign-in">SIGNUP</button>
        <div class="forgot-password">
            <a [routerLink]="'/login'" >
                already registered? Sign in!
            </a>  
              {{ registerForm.value | json }}        
        </div>
    </section>   
</div>