<div 
    class="container"
    >
     <h1>{{examUser.name}}'s page</h1>
     <ul>
        <li>
             <a 
                *ngIf="examUser.roles == 'ADMIN'"
                [routerLink]="'admin'">
                 <span class="strong">ADMIN </span>
                 <span class="headline-text"> PAGE</span>
            </a>
        </li>
        <li >
            <a 
                [routerLink]="''" 
                (click)="close()"
                >
                <span class="strong"> start </span><span class="headline-text"> </span>
            </a>
        </li>
         <li >
             <a 
                [routerLink]="'exam'" 
                (click)="close()"
                >
                 <span class="strong"> course </span><span class="headline-text"> </span>
            </a>
        </li>
        <li >
            <a 
                [routerLink]="'course'"
                (click)="close()"
                ><span class="strong"> Take exam </span><span class="headline-text"> </span>
           </a>
        </li>
        <li >
            <a (click)="logout()" ><span class="strong"> Logout</span><span class="headline-text"> </span>
           </a>
        </li>
     </ul>
</div>

